/*** fonts ***/
@import url("https://fonts.googleapis.com/css?family=Lato|Oswald");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #fafafa;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3.7rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  height: 20px;
  background-color: rgb(153, 0, 255);
  width: 325px;
  margin: auto;
  opacity: 0.9;
  transition: background-color 0.5s ease;
}

.square:hover {
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); 
}

.contact {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  font-weight: 500;
  font-size: 0.9em;
}

a:hover {
  color: rgb(153, 0, 255);
}
.links li {
  position: relative;
	display: inline-block;
	transition: transform .3s
}
.links li a {
  position: relative;
  text-decoration: none;
}

.links > li:hover {
  -webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
  transform: rotate(10deg);
}

.hire-me:hover {
	background: yellow;
	color: rgb(153, 0, 255);
	cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="font-size: 15px;"><text y="15">😍</text></svg>'), auto;
}

footer {
	font-size: .8em;
	position: absolute;
  bottom: 0;
	height: 2.5rem;  
}
